*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial,sans-serif;
}

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 50px;
  background: #2563eb;
  color:white;
}

.hero{
  text-align:center;
  padding:100px 20px;
  background:#f8fafc;
}

.hero h1{
  font-size:48px;
  margin-bottom:20px;
}

.hero p{
  margin-bottom:20px;
  font-size:18px;
}

button{
  background:#2563eb;
  color:white;
  border:none;
  padding:12px 20px;
  border-radius:8px;
  cursor:pointer;
}

.section{
  padding:60px 20px;
  text-align:center;
}

.cards{
  display:flex;
  justify-content:center;
  gap:20px;
  flex-wrap:wrap;
  margin-top:20px;
}

.card{
  width:250px;
  padding:20px;
  border-radius:12px;
  box-shadow:0 0 10px rgba(0,0,0,0.1);
  background:white;
}

input{
  width:300px;
  padding:12px;
  border:1px solid #ccc;
  border-radius:8px;
}